@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800&display=swap");

html,
body {
  font-family: "Be Vietnam Pro", sans-serif;
}

body {
  background: #f5f5fa;
}

p:not(:last-child) {
  margin-bottom: 12px;
}

.page {
  padding: calc(var(--zaui-safe-area-inset-top, 0px) + 48px) 0
    calc(var(--zaui-safe-area-inset-bottom, 0px) + 48px) 0;
}

.page.no-toolbar {
  padding: calc(var(--zaui-safe-area-inset-top, 0px) + 48px) 0 0 0;
}

.navbar {
  height: calc(var(--zaui-safe-area-inset-top, 0px) + 48px);
  padding-top: calc(var(--zaui-safe-area-inset-top, 0px));
}

.mask-wave {
  --mask: radial-gradient(2.33px at 3.2px 50%, #000 99%, #0000 101%) 0
      calc(50% - 4px) / 51% 8px repeat-y,
    radial-gradient(2.33px at -1.2px 50%, #0000 99%, #000 101%) 2px 50% /
      calc(51% - 2px) 8px repeat-y,
    radial-gradient(2.33px at calc(100% - 3.2px) 50%, #000 99%, #0000 101%) 100%
      calc(50% - 4px) / 51% 8px repeat-y,
    radial-gradient(2.33px at calc(100% + 1.2px) 50%, #0000 99%, #000 101%)
      calc(100% - 2px) 50% / calc(51% - 2px) 8px repeat-y;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.swiper-pagination.swiper-pagination-horizontal {
  display: flex;
  gap: 4px;
  background: rgba(0, 0, 0, 0.2);
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100px;
  padding: 4px;
  bottom: 12px;
}

.swiper-pagination.swiper-pagination-horizontal > .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  margin: 0;
  background: rgba(255, 255, 255, 0.6);
}
.swiper-pagination.swiper-pagination-horizontal
  > .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #ffffff;
  transform: scale(1.5);
}

/* Tabs */

.tab-scrollbar {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.tab-scrollbar .zaui-tab-content {
  height: calc(100% - 44px);
}

.tab-scrollbar .zaui-tabs-tabbar:not(.zaui-tabs-tabbar-scrollable) {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.tab-scrollbar.zaui-cols-3 .zaui-tabs-tabbar:not(.zaui-tabs-tabbar-scrollable) {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.tab-scrollbar .zaui-tabs-tabbar .zaui-tabs-tabbar-item {
  text-align: center;
  cursor: pointer;
}

.tab-scrollbar .zaui-tab-content .zaui-tab {
  height: 100%;
}

/* Modal */

.zaui-modal-content-title:empty {
  display: none;
}
